body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

header {
	margin-top: 30px;
}

h3 {
	font-size: 32px;
}

img {
	max-width: 100%;
	height: auto;
}	

.text-thin {
	font-weight: 100;
	font-size: 60px;
}

.text-grey {
	margin-top: 50px;
	color: #7d97ad;
	margin-bottom: 20px;
}

.horizontal-line {
	border-width: 4px;
	border-color: #7d97ad;
	width: 97.5%;
}

.svg-icon {
       width: 8vw;
       height: 8vw;
       margin-top: 30px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
      fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
      stroke-width: 1%;
}

